body{
    max-height: 100%;
}

.annot_title{
    font-size: 50%;
    font-family:sans-serif;
}
h2{
    text-align: center;
}
.container{
    background: white;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
p{
    font-family:Gill Sans Light;
    font-size: 20px;
}
.box{
    align-items: stretch;
    background-color: #fff;
    border:1px solid black;
    border-radius: 5px;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
    display: flex;
    flex :0 0 420px;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 12px;
    overflow: hidden;
    padding: 5px 5px 5px 5px;
}
.target-selector-exact{
    font-family:'Courier New', Courier, monospace;
    word-wrap: break-word;
}
#link-incontext{
    margin-left:40px; 
}
#link-html{
    margin-left: 70px;
}
#date{
    position: absolute;
    right: 20px;
}
.source{
    padding: 5px;
}
#text-contain{
    padding: 5px;
}
#target-selector-exact-contain{
    border-left: 3px solid #d3d3d3;
    color: #7A7A7A;
    padding: 5px;
}
#target-selector-exact-contain:hover{
    border-left: 3px solid #58CEF4;
}
#links{
    padding: 10px;
}
.extra_margin{
    margin-top:3px
}
.lower_margin{
    margin-bottom: 5px;
}
.row_main{
    align-items: stretch;
    display: flex;
    justify-content: center;
}
#half{
    width: 600px;
}
#source-contain{
    word-wrap: break-word;
}
#title-contain{
    color: red;
}
.public_on{
    color: #818181;
    font-weight: 150%;
}
@media screen and (max-width: 500px) {
    #link-incontext {
      margin-left: 5px;
    }
    #link-html{
        margin-left: 10px;
    }
}