body{
    max-height: 100%;
}
@font-face {
    font-family: Bebas Neue;
    src: url("../fonts/BebasNeue.otf");
}

@font-face {
    font-family: Gill Sans Light;
    src: url("../fonts/GillSans-Light.ttf");
}
#horizontal_line{
    margin: 0px; 
    padding: 0px; 
    border: 0px solid rgb(6, 117, 211); 
    font-size: 19px; font-style: inherit;
    font-variant: inherit; 
    font-weight: inherit; 
    font-stretch: inherit; 
    line-height: 1; 
    font-family: sans-serif; 
    vertical-align: baseline; 
    box-sizing: content-box; 
    overflow: unset; 
    height: 1px; 
    position: relative; 
    width: auto; 
    display: flex; 
    background-color: rgb(9, 150, 248); color: rgb(255, 255, 255); 
    text-align: left; 
    align-items: center; 
    border-radius: 3px; 
    justify-content: center; 
    text-decoration: none;
}

.resize_fit_center {
  max-width:100%;
  max-height:100px;
}

h2{
    font-family: Bebas Neue;
    font-size: 50px;
}

.container{
    padding-left: 15px;
    padding-right: 15px;
}

p{
    font-family:Gill Sans Light;
    font-size: 20px;
}
.box{
    margin-bottom: 12px;
    flex :0 0 420px;
    padding: 5px 5px 5px 5px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
    border:1px solid black;
}
.target-selector-exact{
    word-wrap: break-word;
    font-family:'Courier New', Courier, monospace;
}
#link-incontext{
    margin-left:40px; 
}
#link-html{
    margin-left: 70px;
}
#date{
    position: absolute;
    right: 20px;
}
.source{
    padding: 5px;
}
#text-contain{
    padding: 5px;
}
#target-selector-exact-contain{
    padding: 5px;
    border-left: 3px solid #d3d3d3;
    color: #7A7A7A;
}
#target-selector-exact-contain:hover{
    border-left: 3px solid #58CEF4;
}
#links{
    padding: 10px;
}

@media screen and (max-width: 500px) {
    #link-incontext {
      margin-left: 5px;
    }
    #link-html{
        margin-left: 10px;
    }
  }