#resultsTray {
  background-color: white;
  display:grid;
  grid-template-columns:repeat(auto-fill, minmax(300px, 1fr));
  margin:auto;
  padding-left: 15px;
  padding-right: 15px;
}
#resultsTray > div{
  background-color: #eee;
  border-radius: 5px;
  border: 1px solid black;
  margin: 10px auto;
  padding:5px;
  justify-content: space-between;
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  width: 300px;
}
#resultsTray > p{
  display:block;
  margin: auto;
  overflow: hidden;
  text-align: center;
  white-space: normal;
  width: 250px;
}

.text_elements > p{
  display:block;
  margin:auto;
  overflow: hidden;
  text-align: center;
  white-space: normal;
  width: 250px;
}
.bottom_details{
  justify-content: flex-end;
  width: 180px;
  margin: 10px auto;
}
.btn{
  text-align: center;
  margin 20px auto;
}
.cover-img{
  align-self: center;
  display:block;
  height:250px;
  margin:10px auto;
  width: 180px;
}


body{
  max-height: 100%;
}
.container{
  padding: 15px;
}
.rec_results{
  background-color: white;
  padding-left: 15px;
  padding-right: 15px;
  margin:auto;
}
p{
  font-family:Gill Sans Light;
  font-size: 20px;
}
strong{
  font-family:  bebas Neue;
}
h2 strong{
  font-family: 'Oswald', sans-serif;
}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  margin:auto;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@media screen and (min-width: 700px) {
  .test {
    text-align: center;
  }
}
