.all-first-css{
    margin: 0;
    padding: 0;
    font-size: 100%;
    font: inherit;
    font-family: sans-serif;
    vertical-align: baseline;
    line-height: 1;
    box-sizing: content-box;
    overflow: unset;
    font-weight: inherit;
    height: auto;
    position: relative;
    width: auto;
    display: inline;
    background-color:transparent;
    color: #333;
    text-align: left;
}
.no-more-404s-messages{
    background :rgba(0,0,0,.6);
    position :fixed;
    top :0;
    right :0;
    bottom :0;
    left:0;
    z-index:999999999;
    display:flex;
    align-items:center;
    justify-content:center;
}
.no-more-404s-messages-inner{
    flex :0 0 420px;
    position: relative;
    top:0;
    padding: 2px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    box-shadow: 0 4px 20px rgba(0,0,0,.5);
} 
.no-more-404s-header-content{
    background-color: #0996f8;
    border-bottom: 1px solid #0675d3;
    border-radius: 4px 4px 0 0;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    display: block;
}
.status-code-content{ 
    display:inline-block;
    padding:10px 0px 8px 7px;
    line-height: 20px;
}
.status-show{
    font-family:'Courier New', Courier, monospace;                  
    color:rgb(0, 0, 0);
}
.status-code-show{
    font-family:'Courier New', Courier, monospace;                  
    color:rgb(0, 0, 0);
}
.url-show-content{
    padding: 0px 0px 0px 7px;
}
.url-show{
    padding: 0px 0px 5px 0px;
    font-family:'Courier New', Courier, monospace;                  
    color:rgb(0, 0, 0);
    display: inline-block;
    word-wrap: break-word;
    line-height: 20px;
}
.button-cross{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: "background-color 150ms";
    top: 0px;
    right: 0px;
    width: 25px;
    height: 25px;
    border-radius: 3px;
    background: transparent;
    box-sizing: border-box;
    padding: 0;
    border: none;
    cursor: pointer;
}
.imgae-button{
    height: 16px;
    transition: "background-color 100ms";
    width: 16px;
    margin: 0 auto;
}
.paragraph{
    margin :13px 0 9px 0;
    font-family:Impact;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 23px;
}
.no-more-404s-image{
    height:auto;
    position :relative;
    width :100%;
    box-sizing:border-box;
    padding :10px 22px;
}
.no-more-404s-messages-link{
    align-items: center;
    background-color:#0996f8 ;
    border:1px solid #0675d3;
    border-radius: 3px;
    color: #fff;
    display: flex;
    font-size: 19px;
    height: 52px;
    justify-content: center;
    margin: 20px;
    text-decoration: none;
}
.no-more-404s-messages-link:hover{
    background-color:#0996f8 ;
    border: 1px solid #0568ba;
}
.no-more-404s-messages-link:active{
    background-color:#0675d3 ;
    border: 1px solid #0568ba;
}
