
body {
    max-height: 100%;
}

p {
    font-family:Gill Sans Light;
    font-size: 20px;
}

.color_code {
    color:#22c399;
}

.row {
    margin: auto;
}

@media screen and (min-width: 700px) {
    .test {
        text-align: center;
    }
}

.target-selector-exact {
    padding: 5px 10px;
    font-family: 'Courier New', Courier, monospace;
    word-wrap: break-word;
}

#link-incontext {
    margin-left:40px;
}

#link-html {
    margin-left: 70px;
}

#date {
    position: absolute;
    right: 20px;
}

.source {
    padding: 5px 0px;
}

#text-contain {
    padding: 5px 0px;;
}

#links {
    padding: 10px;
}

.row_main {
    align-items: stretch;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 500px) {
    #link-incontext {
      margin-left: 5px;
    }
    #link-html{
        margin-left: 10px;
    }
}

.wordcloud {
    border: 1px solid #036;
    height: 7in;
    margin: 0.5in auto;
    padding: 0;
    page-break-after: always;
    page-break-inside: avoid;
    display: inline-block;
    width: 7in;
}

#public_on {
    font-weight: 150%;
    color: #818181;
}

.pre {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    display: block;
    padding: 9.5px;
    margin: 0 0 5vh;
    font-size: 20px;
    line-height: 1.42857143;
    color: #333;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.col-sm-6 {
    margin: auto;
    width: 70vw;
    float: none;
}
.col-sm-12 {
    float: none;
}
/* https://www.w3schools.com/howto/howto_js_tabs.asp */
/* Style the tab */
.container-fluid {
    margin: 0;
    padding: 0;
}

.col-tablinks {
    background-color: #f1f1f1;
}
/* Style the buttons that are used to open the tab content */
.col-tablinks button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    height: 100px;
    width: 33.3%;
    font-weight: bold;
    font-size: 20px;
}

/* Change background color of buttons on hover */
.col-tablinks button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.col-tablinks button.active {
    background-color: #9A3B38;
    color: #eee;
}
.col-tablinks button.active:hover {
    background-color: #AA4B48;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
}

#row_contain-url, #row_contain-domain {
    display: none;
}

#container-whole-url, #container-whole-domain {
    max-height: 500px;
    overflow-y: auto;
}

.container-scrollbar::-webkit-scrollbar {
    background-color: #aaa;
    width: 20px;
    height: 20px;
    border-radius: 5px;
}
.container-scrollbar::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 5px;
}

.row-box {
    margin : 10px 0;
}

.title {
    text-align: center;
}

/* dark mode */
@media (prefers-color-scheme: dark) {

    body {
        background-color: #222;
        color: #eee;
    }

    h2, h3, h4 {
        color: #bbb;
    }

    .pre {
        color: #ddd;
        background-color: #333;
        border: 1px solid #555;
    }

    a {
        color: #d66;
    }
    a:hover {
        color: #f88;
    }

    .container-fluid {
        background-color: #2C2C2C;
        /* color: #eee; */
        color: #aaa;
    }

    .col-tablinks button {
        background-color: #2C2C2C;
        transition: 0.5s;
    }
    /* Create an hover/current tablink class */
    .col-tablinks button:hover {
        background-color: #4D4D4D;
        color: #eee;
    }
    /* Create an active/current tablink class */
    .col-tablinks button.active {
        background-color: #9A3B38;
        color: #eee;
    }

    .container-scrollbar::-webkit-scrollbar {
        background-color: #555;
    }
    .container-scrollbar::-webkit-scrollbar-thumb {
        background: #888;
    }
}
