#no-more-404s-message-inner{
    margin: 0 auto; 
    padding: 2px;
    border: 0px; 
    font-size: inherit;
    font-style: inherit; 
    font-variant: inherit; 
    font-weight: inherit; 
    font-stretch: inherit; 
    line-height: 1; 
    font-family: sans-serif; 
    vertical-align: baseline; 
    box-sizing: content-box; 
    overflow: hidden; 
    height: auto; 
    position: relative; 
    width: 800px; 
    display: flex; 
    background-color: rgb(255, 255, 255); 
    color: rgb(51, 51, 51); 
    text-align: left; 
    flex: 0 0 420px; 
    top: 0px; 
    border-radius: 5px; 
    flex-direction: column; 
    align-items: stretch; 
    justify-content: center; 
    box-shadow: rgba(0, 0, 0, 0.498039) 0px 4px 20px;
}
#no-more-404s-header{
    margin: 0px; 
    padding: 0px; 
    border-width: 0px 0px 1px; 
    border-top-style: initial; 
    border-right-style: initial; 
    border-bottom-style: solid; 
    border-left-style: initial; 
    border-top-color: initial; 
    border-right-color: initial; 
    border-bottom-color: rgb(6, 117, 211); 
    border-left-color: initial; 
    border-image: initial;
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif; 
    box-sizing: content-box; 
    overflow: unset; 
    height: 65px; 
    position: relative; 
    width: auto; 
    display: block; 
    background-color: rgb(9, 150, 248); 
    color: rgb(255, 255, 255);
    border-radius: 4px 4px 0px 0px; 
}

#show-status{
    padding:10px 0px 8px 7px;
    display: inline-block;
}

#status-show{
    font-family:'Courier New', Courier, monospace;
    color:rgb(0, 0, 0);
}
#status-code-show{
    font-family:'Courier New', Courier, monospace;
    color:rgb(0, 0, 0);
}
#url-show-content{
    padding: 0px 0px 0px 7px;
}
#url-show{
    font-family:'Courier New', Courier, monospace;
    color:rgb(0, 0, 0);
    word-wrap: break-word;
    padding: 0px 0px 5px 0px;
    display: inline-block;
}

#pid{
    margin: 13px 0px 9px; 
    padding: 0px; 
    border: 0px; 
    font-size: 23px; 
    font-style: inherit; 
    font-variant: inherit; 
    font-weight: inherit; 
    font-stretch: inherit; 
    line-height: 1; 
    font-family: Impact; 
    vertical-align: baseline; 
    box-sizing: content-box; 
    overflow: unset; 
    height: auto; 
    position: relative; 
    width: auto; 
    display: inline; 
    background-color: transparent; 
    color: rgb(51, 51, 51); 
    text-align: center;
}
#no-more-404s-image{
    margin: 0px;
    padding: 10px 22px; 
    border: 0px; 
    font-size: inherit; 
    font-style: inherit; 
    font-variant: inherit; 
    font-weight: inherit; 
    font-stretch: inherit; 
    line-height: 1; 
    font-family: sans-serif; 
    vertical-align: baseline; 
    box-sizing: border-box; 
    overflow: unset; 
    height: auto; 
    position: relative; 
    width: 100%; 
    display: inline; 
    background-color: transparent; 
    color: rgb(51, 51, 51); 
    text-align: left;
}
#no-more-404s-dnserror-link{
    margin: 20px; 
    padding: 0px; 
    border: 1px solid rgb(6, 117, 211); 
    font-size: 19px; 
    font-style: inherit; 
    font-variant: inherit; 
    font-weight: inherit; 
    font-stretch: inherit; 
    line-height: 1; 
    font-family: sans-serif; 
    vertical-align: baseline; 
    box-sizing: content-box; 
    overflow: unset; 
    height: 52px; 
    position: relative; 
    width: auto; 
    display: flex; 
    background-color: rgb(9, 150, 248); 
    color: rgb(255, 255, 255); 
    text-align: left; 
    align-items: center; 
    border-radius: 3px; 
    justify-content: center; 
    text-decoration: none;
}