body{
    width: 200px;
    max-height: 538px;
}
li{
    margin:0px 0px 0px -18px;
    padding: 0px;
}
#horizontal_line{
    margin: 0px; 
    padding: 0px; 
    border: 0px solid rgb(6, 117, 211); 
    font-size: 19px; font-style: inherit;
    font-variant: inherit; 
    font-weight: inherit; 
    font-stretch: inherit; 
    line-height: 1; 
    font-family: sans-serif; 
    vertical-align: baseline; 
    box-sizing: content-box; 
    overflow: unset; 
    height: 1px; 
    position: relative; 
    bottom: 2px;
    width: auto; 
    display: flex; 
    background-color: rgb(9, 150, 248); color: rgb(255, 255, 255); 
    text-align: left; 
    align-items: center; 
    border-radius: 3px; 
    justify-content: center; 
    text-decoration: none;
}
.focused {
    background-color: #D3D3D3;
    opacity: 0.7;
}
button {
  display: block;
  margin-bottom: 10px !important;
}
.resize_fit_center {
  margin: 5px 0 0 0;
  max-width:100%;
  max-height:100%;
  vertical-align: middle;
}

#logo_internet_archive {
    position: relative;
    top: 2.5px;
}

a.btn-social,
.btn-social
{
border-radius: 50%;
color: #ffffff !important;
display: inline-block;
height: 54px;
line-height: 54px;
margin: 8px 4px;
text-align: center;
text-decoration: none;
transition: background-color .3s;
webkit-transition: background-color .3s;
width: 54px;
position: relative;
bottom: 5px;
}

.fa{
margin-top:6px;
}
.btn-social .fa,.btn-social i
{
backface-visibility: hidden;
moz-backface-visibility: hidden;
ms-transform: scale(1);
o-transform: scale(1);
transform: scale(1);
transition: all .25s;
webkit-backface-visibility: hidden;
webkit-transform: scale(1);
webkit-transition: all .25s;
}
.btn-social:hover,.btn-social:focus
{
color: #fff;
outline: none;
text-decoration: none;
}
.btn-social:hover .fa,.btn-social:focus .fa,.btn-social:hover i,.btn-social:focus i
{
ms-transform: scale(1.3);
o-transform: scale(1.3);
transform: scale(1.3);
webkit-transform: scale(1.3);
}
.btn-social.btn-sm
{
font-size: 13px;
height: 36px;
line-height: 18px;
margin: 6px 2px;
width: 36px;
}
.btn-social.btn-lg
{
font-size: 22px;
height: 72px;
line-height: 4px;
margin: 10px 6px;
width: 72px;
}
.btn-facebook
{
background-color: #3b5998;
}
.btn-facebook:hover
{
background-color: #4c70ba;
}
.btn-twitter
{
background-color: #55acee;
}
.btn-twitter:hover
{
background-color: #83c3f3;
}
.btn-linkedin
{
background-color: #1E88E5;
}
.btn-linkedin:hover
{
background-color: #4a8aff;
}
.btn{
    font-weight: 500;
}

/* flipping effect rules */
.flip {
    position: relative;
    margin-bottom: 10px;
    perspective: 1000px;
    width: 170px;
    height: 30px;
}

.flip-inside {
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    transform-origin: left 20px;
    width: 100%;
    height: 100%;
}

.flip:hover .flip-inside {
    transform: rotateX(180deg);
}

.front, .back {
    position: absolute;
    backface-visibility: hidden;
}

.front {
    transform: rotateX(0deg);
    z-index: 2;
}

.back {
    transform: rotateX(180deg);
}

.save {
    background-color: #489C3E;
    color: white !important;
    width: 170px;
    height: 30px;
}

.captures{
    background-color: #d63c24f2;
    color: white !important;
    width: 170px;
    height: 30px;
}
.extra_feature{
    background-color: #444243f7 !important;
    color: white !important;
    width: 170px;
    height: 30px;
}
.context_feature{
    background-color: #25a7b0;
    color: white !important;
    width: 170px;
    height: 30px;
}

.context_tip{
    opacity: 0.75;
    width: 154px;
    padding-left: 1px;
    padding-right: 1px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 3px;
}
.feedback{
    cursor: pointer;
    font-size: 185%;
}