body{
    width: 200px;
}
li{
    margin:0px 0px 0px -18px;
    padding: 0px;
}
#horizontal_line{
    margin: 0px; 
    padding: 0px; 
    border: 0px solid rgb(6, 117, 211); 
    font-size: 19px; font-style: inherit;
    font-variant: inherit; 
    font-weight: inherit; 
    font-stretch: inherit; 
    line-height: 1; 
    font-family: sans-serif; 
    vertical-align: baseline; 
    box-sizing: content-box; 
    overflow: unset; 
    height: 1px; 
    position: relative; 
    width: auto; 
    display: flex; 
    background-color: rgb(9, 150, 248); color: rgb(255, 255, 255); 
    text-align: left; 
    align-items: center; 
    border-radius: 3px; 
    justify-content: center; 
    text-decoration: none;
}

#search_input {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    box-shadow: none;
    padding-left: 10px;
    padding-right: 10px; 
    outline: none;
    transition: 0.5s all;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    box-shadow: none;
}
#search_input:focus {
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.1);
}

::-webkit-scrollbar {
    width: 7px;
}
 
::-webkit-scrollbar-track {
    border-radius: 20px;
    background: rgba(0,0,0,0.1);
}
 
::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.3);
}

button {
  display: block;
  margin-bottom: 10px !important;
}
.resize_fit_center {
  margin: 5px 0 0 0;
  max-width:100%;
  max-height:100%;
  vertical-align: middle;
}

a.btn-social,
.btn-social
{
  display: inline-block;
  margin: 8px 4px;
  text-decoration: none;
  transition: .3s;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.fa{
margin-top:6px;
}
.btn-social .fa,
.btn-social i{
    backface-visibility: hidden;
    moz-backface-visibility: hidden;
    ms-transform: scale(1);
    o-transform: scale(1);
    transform: scale(1);
    transition: all .3s;
    webkit-backface-visibility: hidden;
    webkit-transform: scale(1);
    webkit-transition: all .3s;
    font-size: 18px;
}
.btn-social:hover,.btn-social:focus {
    outline: none;
    text-decoration: none;
}
.btn-social:hover .fa,
.btn-social:focus .fa,
.btn-social:hover i,
.btn-social:focus i {
    ms-transform: scale(1.3);
    o-transform: scale(1.3);
    transform: scale(1.3);
    webkit-transform: scale(1.3);
}
.btn-social.btn-sm
{
font-size: 13px;
height: 36px;
line-height: 18px;
margin: 6px 2px;
width: 36px;
}
.btn-social.btn-lg
{
font-size: 22px;
height: 72px;
line-height: 4px;
margin: 10px 6px;
width: 72px;
}
.btn-social:hover .fa-facebook {
    color: #3b5998;
}
.btn-social:hover .fa-twitter {
    color: #55acee;
}
.btn-social:hover .fa-linkedin {
    color: #1E88E5;
}
.btn{
    font-weight: 500;
}
.btn-outline {
    background: transparent !important;
    border-width: 2px;
    transition: 0.3s all;
}
.btn-outline.btn-warning {
    color: #eb9316 !important;
    border-color: #eb9316;
    text-shadow: none;
    box-shadow: none;
}
.btn-outline.btn-warning:hover,
.btn-outline.btn-warning:focus {
    background-color: #eb9316 !important;
    color: white !important;
}
#save_now {
    color: #489C3E !important;
    border-color: #489C3E;
}
#save_now:hover,
#save_now:focus {
    background-color: #489C3E !important;
    color: white !important;
}
.captures {
    color: #d63c24f2 !important;
    border-color: #d63c24f2;
}
.captures:hover,
.captures:focus {
    background-color: #d63c24f2 !important;
    color: white !important;
}
.extra_feature{
    color: #444243f7 !important;
    border-color: #444243f7;
}
.extra_feature:hover,
.extra_feature:focus {
    background-color: #444243f7 !important;
    color: white !important;
}
.context_feature {
    color: #25a7b0 !important;
    border-color: #25a7b0;
}
.context_feature:hover,
.context_feature:focus {
    background-color: #25a7b0 !important;
    color: white !important;
}
.link{
    cursor: pointer;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    text-decoration: none;
}
.link:hover,
.link:focus {
    color: rgba(0,0,0,1);
    text-decoration: none;
}

#settings_button {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: 3s all;
}

#settings_button:hover,
#settings_button:focus {
    transform: rotateZ(360deg);
}