body{
    width: 250px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,'Helvetica Neue',Arial,Helvetica,sans-serif;
}
li{
    margin:0px 0px 0px -18px;
    padding: 0px;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

/* New addition */
.logo {
    max-height: 50%;
    max-width: 50%;
}

.logo-banner {
    position: relative;
    text-align: center;
    background: #F2F2F2;
}

.settings {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.settings:hover path{
    fill: #A11D52;
}

.submit {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
}

.suggestion-box {
    display:none;
    max-height: 300px;
    min-width:100%;
    overflow: auto;
}

.search-form {
    background: #F2F2F2;
    text-align: center;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 10px;
    padding-bottom: 14px;
}

.search-box {
    max-width: 100%;
    height: 30px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
    border-radius: 40px;
}

.search-box-2 {
    border-color: transparent;
    bottom: 0px;
    box-shadow: none;
    color: rgb(165, 165, 165);
    display: block;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 0;
}

ul {
    margin-top: 10px;
    margin-left: 0px !important;
    padding: 0;
}

li {
    display: block;
    list-style: none;
    position: relative;
    padding-left: 61px;
    padding-top: 7px;
    padding-bottom: 7px;
    cursor: pointer;
}

.content li:hover {
    background: rgba(161, 29, 82, 0.07);
    color: #A11D52;
}

.content li:hover path{
    fill: #A11D52;
}

.social {
    margin-left: 27px !important;
    float: left;
    margin-top: 9px !important;
    margin-bottom: 0px !important;
}

.social li {
    display: inline-block !important;
    margin-right: 5px;
    padding-left: 10px !important;
    padding-right: 10px;
}

.others-ul {
    margin-top: 13px !important;
    margin-right: 10px;
}

.others-ul li {
    display: inline-block !important;
    margin-right: 5px;
    padding-left: 25px !important;
}

.save-icon {
    position: absolute;
    left: 34px;
    top: 8px;
}

.social-icon {
    position: relative;
}

.social-icon:hover path{
    fill: #A11D52;
}

.others {
    font-size: 10px;
    color: #686868;
}
.others-ul {
    float: right;
}

.others-ul li p:hover {
    color: #A11D52;
}

hr {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

#suggestion-box li {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 10px !important;
}

#suggestion-box li a:hover {
    background: rgba(161, 29, 82, 0.07) !important;
    color: #A11D52 !important;
}

.section-title {
    color: #BABABA;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-left: 12px;
    margin-top: 11px;
}

#horizontal_line{
    margin: 0px; 
    padding: 0px; 
    border: 0px solid rgb(6, 117, 211); 
    font-size: 19px; font-style: inherit;
    font-variant: inherit; 
    font-weight: inherit; 
    font-stretch: inherit; 
    line-height: 1; 
    font-family: sans-serif; 
    vertical-align: baseline; 
    box-sizing: content-box; 
    overflow: unset; 
    height: 1px; 
    position: relative; 
    width: auto; 
    display: flex; 
    background-color: rgb(9, 150, 248); color: rgb(255, 255, 255); 
    text-align: left; 
    align-items: center; 
    border-radius: 3px; 
    justify-content: center; 
    text-decoration: none;
}

button {
  display: block;
  margin-bottom: 10px !important;
}
.resize_fit_center {
  margin: 5px 0 0 0;
  max-width:100%;
  max-height:100%;
  vertical-align: middle;
}

a.btn-social,
.btn-social
{
border-radius: 50%;
color: #ffffff !important;
display: inline-block;
height: 54px;
line-height: 54px;
margin: 8px 4px;
text-align: center;
text-decoration: none;
transition: background-color .3s;
webkit-transition: background-color .3s;
width: 54px;
}

.fa{
margin-top:6px;
}
.btn-social .fa,.btn-social i
{
backface-visibility: hidden;
moz-backface-visibility: hidden;
ms-transform: scale(1);
o-transform: scale(1);
transform: scale(1);
transition: all .25s;
webkit-backface-visibility: hidden;
webkit-transform: scale(1);
webkit-transition: all .25s;
}
.btn-social:hover,.btn-social:focus
{
color: #fff;
outline: none;
text-decoration: none;
}
.btn-social:hover .fa,.btn-social:focus .fa,.btn-social:hover i,.btn-social:focus i
{
ms-transform: scale(1.3);
o-transform: scale(1.3);
transform: scale(1.3);
webkit-transform: scale(1.3);
}
.btn-social.btn-sm
{
font-size: 13px;
height: 36px;
line-height: 18px;
margin: 6px 2px;
width: 36px;
}
.btn-social.btn-lg
{
font-size: 22px;
height: 72px;
line-height: 4px;
margin: 10px 6px;
width: 72px;
}
.btn-facebook
{
background-color: #3b5998;
}
.btn-facebook:hover
{
background-color: #4c70ba;
}
.btn-twitter
{
background-color: #55acee;
}
.btn-twitter:hover
{
background-color: #83c3f3;
}
.btn-linkedin
{
background-color: #1E88E5;
}
.btn-linkedin:hover
{
background-color: #4a8aff;
}
.btn{
    font-weight: 500;
}
#save_now{
}
.captures{
    background-color: #d63c24f2;
    color: white !important;
}
.extra_feature{
    background-color: #444243f7 !important;
    color: white !important;
}
.context_feature{
    background-color: #25a7b0;
    color: white !important;
}
/*.feedback{*/
    /*cursor: pointer;*/
    /*font-size: 185%;*/
/*}*/
