body{
    max-height: 100%;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
}

p{
    font-family:Gill Sans Light;
    font-size: 20px;
}
@media screen and (min-width: 700px) {
    .test {
        text-align: center;
    }
}