.wrapper {
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.wrapper > div{
  padding:5px;
  margin:10px;
  border-radius: 25px;
  border: 2px solid white;
  align-items: center;
}

.wrapper > div > p{
  width: max-content;
  display:block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.wrapper > div > a{
  text-align: center;
}
a > img{
  display:block;
  margin-left:auto;
  margin-right: auto;
  margin-top: 4px;
  align-self: center;
}

body{
    max-height: 100%;
}
@font-face {
    font-family: Bebas Neue;
    src: url("../fonts/BebasNeue.otf");
}
@font-face {
    font-family: Gill Sans Light;
    src: url("../fonts/GillSans-Light.ttf");
}
#horizontal_line{
    margin: 0px;
    padding: 0px;
    border: 0px solid rgb(6, 117, 211);
    font-size: 19px; font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    line-height: 1;
    font-family: sans-serif;
    vertical-align: baseline;
    box-sizing: content-box;
    overflow: unset;
    height: 1px;
    position: relative;
    width: auto;
    display: flex;
    background-color: rgb(9, 150, 248); color: rgb(255, 255, 255);
    text-align: left;
    align-items: center;
    border-radius: 3px;
    justify-content: center;
    text-decoration: none;
}
.resize_fit_center {
  max-width:100%;
  max-height:100px;
}
h2{
    font-family: Bebas Neue;
    font-size: 50px;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
}
.rec_results{
  border-radius: 25px;
  border: 2px solid #eee;
  padding: 20px;
  background-color: #eee
}
p{
    font-family:Gill Sans Light;
    font-size: 20px;
}
strong{
  font-family:  bebas Neue;
}
@media screen and (min-width: 700px) {
    .test {
        text-align: center;
    }
}
