tr.spaceUnder > td
{
  padding-bottom: 1em;
}
.container
{
  margin: 2px;
  width: auto;
  height: 45px;
  line-height: 45px;
  text-align: center;
}
.resize_fit_center
{
  max-width:100%;
  max-height:100%;
  vertical-align: middle;
}
.settings{
  line-height: 20px;
  text-align: left;
  width: 350px;
  margin: auto;
}
.column{
  padding-top: 20px;
  padding-left: 20px;
}
.col-sm-6{
  padding-left: auto;
  padding-right: auto;
}

#status{
  visibility: hidden;
}
#wrap {
  width: 100%;
  height:auto;
  border-style:groove;
  border-color:rgba(121, 197, 165, 0.24);
  border-radius: 20px;
  padding-bottom: 30px;
  padding-left: 0px;
  margin-left: 0px;
}
label {
  font-size: 14px;
}
#adjust{
  margin-left: 137px;
}
