body{
    max-height: 100%;
}

.container{
    padding: 0 15px 0 15px;
}

p{
    font-family:Gill Sans Light;
    font-size: 20px;
}
@media screen and (min-width: 400px) {
    .test {
        text-align: center;
    }

}
@media screen and (min-width: 1000px) {

    .right-side{
        padding-left: 100px; 
    }
}