.wordcloud {
    border: 1px solid #036;
    display: inline-block;
    height: 8in;
    margin: 0.5in auto;
    padding: 0;
    page-break-after: always;
    page-break-inside: avoid;
    width:8in;
}
h2{
    font-family: Bebas Neue;
    font-size: 50px;
    text-align: center;
}
.container{
    background: white;
    padding-left: 15px;
    padding-right: 15px;
}
