#half{
    width: 600px;
    margin-left: auto;
    margin-right: auto;

}
.profile_image{
    border-radius: 50%;
    padding:13px 10px 5px 0px;
}
blockquote.twitter-tweet {
    font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    border-color: #eee #ddd #bbb;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    width: 70%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    margin: 10px 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 16px 16px 16px;
    max-width: 468px;
}
.mention_date{
    font-weight: bold;
    font-size: 16px;
}
blockquote.twitter-tweet p {
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
