.box-tweet{
    margin-bottom: 12px;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    overflow: scroll;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
    border:1px solid black;
}
#half{
    width: 600px;
}
.row_main{
    align-items: stretch;
    display: flex;
    justify-content: center;
}