body {
    font-size: 30px;
    text-align: left;
    margin-top: 100px;
}

#header {
    font-size: 40px;
    text-align: center;
}

div#content > h1 {
    text-align: center;
}

#content {
    margin: auto 15vw 10vh 15vw;
}

p {
    text-align: justify;
}