.btn-archive img{
  border-radius: 5px;
  max-height:25px;
  max-width:25px;

}
a[data-toggle="tooltip"]{
  width: 400px;
}
.text_elements{
  max-width: 100%;
}
.cover-img{
  align-self: center;
  display:block;
  height:168px;
  margin:10px auto;
  width: 120px;
}
