#resultsTray {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}
#resultsTray > div {
  background-color: #eee;
  border-radius: 5px;
  border: 1px solid #888;
  margin: 10px auto;
  padding: 5px;
  justify-content: space-between;
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  width: 300px;
}
#resultsTray > p {
  display: block;
  margin: auto;
  overflow: hidden;
  text-align: center;
  white-space: normal;
  width: 250px;
}

.text_elements > p {
  display: block;
  margin: auto;
  overflow: hidden;
  text-align: center;
  white-space: normal;
  width: 250px;
}

.bottom_details {
  justify-content: flex-end;
  width: 180px;
  margin: 10px auto;
}

.btn {
  text-align: center;
  margin: 20px auto;
}

.cover-img {
  align-self: center;
  display: block;
  height: 250px;
  margin: 10px auto;
  width: 180px;
}

body {
  max-height: 100%;
}

.container {
  padding: 15px;
}

p {
  font-family: Gill Sans Light;
  font-size: 20px;
}

strong {
  font-family:  bebas Neue;
}

h2 strong {
  font-family: 'Oswald', sans-serif;
}

.ia-logo {
  margin-top: 1em;
  height: 64px;
}

button {
  border-radius: 5px;
  color: #fff;
  padding: 5px;
  background-color: #a94442;
}
button:hover {
  background-color: #AA4B48;
  color: #eee;
}

/* dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #2C2C2C;
    color: #eee;
  }

  h2, h3, h4 {
    color: #bbb;
  }

  #resultsTray > div {
    background-color: #333;
    color: #ddd;
  }
}