
body {
    background-color: #eee;
}

p {
    font-family: Gill Sans Light;
    font-size: 20px;
}

.body-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0 15px;
}

.header-container {
    text-align: center;
}

.outer-container {
    display: contents;
}

.loader {
    flex: none;
    display: none;
}

#empty-list-err, #not-logged-in {
    color: #733;
    font-weight: 700;
    display: none;
}

#list-container {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    color: #000;
    flex: 4;
    min-height: 4em;
    margin: 1em 0;
    word-break: break-all;
    font-size: 14px;
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow-y: scroll;
}
#list-container .url-list:nth-child(even) {
    background-color: #fff;
}

#bulk-save-btn {
    width: 200px;
}

.delete-btn {
    font-size: 14px;
    color: #fff;
    background-color: #9A3B38;
    border-radius: 5px;
    margin: auto 0;
    text-align: center;
    height: 20px;
    min-width: 20px;
    cursor: pointer;
    user-select: none;
}
.delete-btn:hover {
    background-color: #AA4B48;
}

.url-item {
    margin-left: 0.5em;
}

.btn {
    white-space: inherit;
}

.add-container {
    display: flex;
    flex-direction: column;
    flex: 2;
}

#add-url-area {
    flex: 2;
    width: 100%;
    min-height: 4em;
    border-radius: 5px;
    padding: 0.5em;
    border: 1px solid #737373;
    color: #333;
    resize: none;
}

.save-box {
    width: auto;
    margin: 0 0 1em;
}

.save-options-container p * {
    cursor: pointer;
    margin: 2px;
    display: inline;
}

.url-list {
    margin: 0;
    padding: 0.25em 0.5em;
}

.logo {
    margin: 1em auto;
    text-align: center;
}

.ia-logo {
    height: 64px;
}

.container-scrollbar::-webkit-scrollbar {
    background-color: #aaa;
    width: 16px;
    border-radius: 5px;
}
.container-scrollbar::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 5px;
}

.count-container {
    display: none;
    font-family: Gill Sans Light;
    font-size: 20px;
    text-align: right;
    margin-bottom: 0.5em;
}
.count-container div {
    display: inline-flex;
    width: 5em;
}

.highlight-color {
    color: #733;
}

.flex-container {
    display: flex;
}


/* Dark Mode */

@media (prefers-color-scheme: dark) {

    body {
        background-color: #2C2C2C;
        color: #eee;
    }

    h2, h3, h4 {
        color: #bbb;
    }

    #list-container, #add-url-area {
        color: #ddd;
        background-color: #333;
        border: 1px solid #555;
    }
    #list-container .url-list:nth-child(even) {
        background-color: rgb(61, 61, 61);
    }

    #empty-list-err, #not-logged-in {
        color: #f66;
    }

    .highlight-color {
        color: #d88;
    }

    .container-scrollbar::-webkit-scrollbar {
        background-color: #555;
    }
    .container-scrollbar::-webkit-scrollbar-thumb {
        background: #888;
    }
}
