
body {
    background-color: #eee;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.outer-list-container {
    display: contents;
}

#list-container {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    color: #000;
    display: block;
    padding: 0.5em;
    margin: 1em 0;
    font-size: 20px;
    line-height: 1.5;
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow-y: scroll;
}

#current-url {
    font-weight: normal;
    margin: 0 1em;
    word-break: break-all;
}

.spn-head {
    display: inline-block;
}

#import-bookmarks {
    flex: 2;
}

.add {
    display: flex;
    margin-left: 1em;
    flex: 6;
    justify-content: flex-end;
}

#add-url {
    color: #333;
    border: 1px solid #737373;
    border-radius: 5px 0 0 5px;
    flex: 5;
}

#add-to-bulk {
    border-radius: 0 5px 5px 0;
    flex: 2;
}

.save-box {
    text-align: center;
}

#start-bulk-save {
    /* width: auto; */
    margin: 1em 0 2em;
}

p {
    font-family: Gill Sans Light;
    font-size: 20px;
}

#resource-list-container p {
    padding: 0 5px;
    white-space: normal;
    word-break: break-all;
    margin: 0;
}
#resource-list-container p:nth-child(even) {
    color: #666;
}

.logo {
    margin: 1em auto;
    text-align: center;
}

.ia-logo {
    height: 64px;
}

.container-scrollbar::-webkit-scrollbar {
    background-color: #aaa;
    width: 16px;
    border-radius: 5px;
}
.container-scrollbar::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 5px;
}

.total-saved {
    display: none;
    text-align: right;
    margin-bottom: 1em;
}

.live-status {
    text-align: center;
}

.error {
    padding-bottom: 1em;
    text-align: center;
    display: none;
}

.error-color {
    color: #733;
    font-weight: 700;
}

.highlight-color {
    color: #733;
}

#message {
    display: none;
    margin-top: 1em;
}

.flex-container {
    display: flex;
}

.btn {
    font-weight: 400;
    border-radius: 5px;
    width: 200px;
    height: 30px;
    background-color: #4D4D4D;
    color: #eee !important;
    border: 1px solid #737373
}
.btn:hover {
    background-color: #5D5D5D;
}

.btn-red {
    background-color: #9A3B38 !important;
    border: 1px solid #BF4946 !important;
    color: #eee !important;
}
.btn-red:hover {
    background-color: #AA4B48 !important;
}

/* dark mode */
@media (prefers-color-scheme: dark) {

    body {
        background-color: #2C2C2C;
        color: #eee;
    }

    h2, h3, h4 {
        color: #bbb;
    }

    #resource-list-container {
        color: #ddd;
        background-color: #333;
        border: 1px solid #555;
    }

    #resource-list-container p:nth-child(even) {
        color: #aaa;
    }

    .error-color {
        color: #f66;
    }

    .highlight-color {
        color: #d88;
    }

    .container-scrollbar::-webkit-scrollbar {
        background-color: #555;
    }
    .container-scrollbar::-webkit-scrollbar-thumb {
        background: #888;
    }
}
