/*Common css attributes for all files*/

@font-face {
    font-family: "Bebas Neue";
    src: url("../fonts/BebasNeue.otf");
}

@font-face {
    font-family: "Gill Sans Light";
    src: url("../fonts/GillSans-Light.ttf");
}

hr {
    margin: 5px 0;
    border: none;
    border-top: 1px solid #aaa;
    height: 1px;
}

h2 {
    font-family: "Oswald", sans-serif;
    font-size: 34px;
    font-weight: bold;
}
h3 {
    font-family: "Bebas Neue";
    font-size: 30px;
}
h4 {
    font-family: "Oswald", sans-serif;
    font-size: 22px;
    font-weight: bold;
}

/* buttons */

button {
    display: block;
}

.btn {
    font-weight: 400;
    border-radius: 5px;
    padding-left: 0;
    padding-right: 0;
}
.btn:active {
    outline: none !important;
}

/* button sizes */

.btn-wide {
    width: 100%;
    height: 30px;
}

.btn-auto {
    min-width: 60px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.btn-equal {
    height: 30px;
    flex-grow: 1;
    flex-basis: 0;
}

.btn-flex {
    height: 30px;
    flex-grow: 1;
}

.btn-flex-block {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

/* add gap for Safari support */
.btn-flex-block > * {
    margin-left: 5px !important;
}
.btn-flex-block > *:first-child {
    margin-left: 0 !important;
}

.btn-block {
    margin-top: 5px;
}

/* button colors */

.btn-red, button.selected {
    background-color: #9A3B38 !important;
    border: 1px solid #BF4946 !important;
    color: #eee !important;
}
.btn-red:hover, button.selected:hover {
    background-color: #AA4B48 !important;
    color: #eee !important;
}

.btn-blue {
    background-color: #405971 !important;
    border: 1px solid #668db3 !important;
    color: #eee !important;
}
.btn-blue:hover {
    background-color: #51708E  !important;
}

.btn-purple {
    background-color: #694071 !important;
    border: 1px solid #A766B3 !important;
    color: #eee !important;
}
.btn-purple:hover {
    background-color: #85518E  !important;
}

.btn-light-gray {
    background-color: #737373;
    color: #eee !important;
    border: 1px solid #A9A9A9;
}
.btn-light-gray:hover {
    background-color: #838383;
}

.btn-dark-gray {
    background-color: #4D4D4D;
    color: #eee !important;
    border: 1px solid #737373;
}
.btn-dark-gray:hover {
    background-color: #5D5D5D;
}

.btn-unselected {
    background-color: transparent;
    color: #333 !important;
    border: 1px solid transparent;
}
.btn-unselected:hover {
    background-color: #88888822;
    color: #000 !important;
}

/* segmented control */

.segmented-container {
    border-radius: 5px;
    background-color: #ddd;
}

.segmented-container .btn {
    border-radius: 0;
}
.segmented-container li:first-child .btn {
    border-radius: 5px 0 0 5px !important;
}
.segmented-container li:last-child .btn {
    border-radius: 0 5px 5px 0 !important;
}


/* Dark Mode */

@media (prefers-color-scheme: dark) {

    hr {
        border-top: 1px solid #555;
    }

    /* buttons */

    .btn {
        font-weight: 500;
    }

    .btn-unselected {
        color: #aaa !important;
        border: 1px solid transparent;
    }
    .btn-unselected:hover {
        color: #eee !important;
    }

    .segmented-container {
        background-color: #3C3C3C;
    }

}

/* Misc */

.loader {
    border: 16px solid #bbb; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media screen and (min-width: 700px) {
    .test {
        text-align: center;
    }
}
