
body {
    background-color: #eee;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.loader {
    flex: none;
}

.outer-container {
    display: contents;
}

#results-container {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    color: #000;
    display: block;
    min-height: 1em;
    margin: 1em 0;
    font-size: 20px;
    line-height: 1.5;
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow-y: scroll;
}

#fact-check-url {
    font-weight: normal;
    margin: 0 1em;
    word-break: break-all;
}

.fact-checks-list {
    margin: 0;
    padding: 0.5em;
}

#results-container .fact-checks-list:nth-child(even) {
    background-color: #fff;
}

.name {
    font-size: 21px;
    font-weight: 800;
}

.logo {
    margin: 1em auto;
    text-align: center;
}

.ia-logo {
    height: 64px;
}

.container-scrollbar::-webkit-scrollbar {
    background-color: #aaa;
    width: 16px;
    border-radius: 5px;
}
.container-scrollbar::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 5px;
}

.header-container {
    text-align: center;
}

.highlight-color {
    color: #733;
}

.highlight {
    color: #22c399;
}

/* dark mode */
@media (prefers-color-scheme: dark) {

    body {
        background-color: #2C2C2C;
        color: #eee;
    }

    h2, h3, h4 {
        color: #bbb;
    }

    #results-container {
        color: #ddd;
        background-color: #333;
        border: 1px solid #555;
    }

    #results-container .fact-checks-list:nth-child(even) {
        color: #333;
        background-color: #ddd;
    }

    .highlight-color {
        color: #d88;
    }

    .container-scrollbar::-webkit-scrollbar {
        background-color: #555;
    }
    .container-scrollbar::-webkit-scrollbar-thumb {
        background: #888;
    }
}