
/* default light mode */

body {
    width: 200px;
    background-color: #eee;
    color: #222;
}

.tab-bar {
    padding: 2px 0 5px 0;
}
.tab-item {
    display: inline-block;
    vertical-align: top;
    width: 22%;
    cursor: pointer;
    opacity: 1.0;
}
.tab-item:hover {
    opacity: 0.7;
}

.tab-item .glyphicon {
    font-size: 25px;
}

.tab-icon {
    color: #444;
}

.donate-icon-outer {
    width: 28px;
    height: 28px;
    margin: 0 auto;
}
.donate-icon-inner {
    /* overflow: hidden; */  /* Chrome bug causes glitch with 'transition' and 'overflow'. */
    position: fixed;         /* Required to fix Chrome bug with 'clip' below. */
    clip: rect(0px 28px 28px -1px);
}
.donate-icon {
    /* trick to tint black icons */
    filter: drop-shadow(28px 0px);
    margin-left: -28px;
    display: block;
    width: 28px;
    height: 28px;
}

#search-input, .login-input {
    background-color: #fff;
    border-color: #777;
    color: #222;
}

#wayback-count-label, #url-not-supported-message, #using-search-url {
    font-size: 9pt;
    color: #222;
}

/* general */

.focused {
    background-color: #eee;
}

.resize-fit-center {
  margin: 0 0 0 0;
  max-width: 100%;
  vertical-align: middle;
}

.logo-wayback-machine {
    position: relative;
    padding: 10px;
}
.logo-wayback-machine:hover {
    opacity: 0.8;
}

.ia-logo {
    width: 64px;
    height: 64px;
}

#using-search-url, #save-progress-bar {
    display: none;
}

/* search and login boxes */

#search-input, .login-input {
    display: block;
    position: relative;
    border-radius: 5px;
    z-index: 1;
}

/* suggestions box */

#suggestion-box {
    display: none;
    max-height: 350px;
    width: 166px;
    border-radius: 5px;
    word-break: break-all;
}

#suggestion-box div {
    padding: 3px 10px;
}
#suggestion-box div:hover {
    background-color: #eee;
}

/* checkboxes */

.chk-options {
    font-weight: 400;
    font-size: 12px;
    padding: 0 5px;
    margin-bottom: 3px;
    cursor: pointer;
}
.chk-options:hover {
    background-color: rgba(127, 127, 127, 0.2);
    border-radius: 5px;
}

.chk-frame {
    position: relative;
    width: 100%;
    border-radius: 5px;
    top: -15px;
    padding-top: 17px;
    margin-bottom: -8px;
    border: 1px solid #ddd;
    border-top: none;
    background-color: #ddd;
}

#savebtn {
    /* to cover over the chk-frame */
    z-index: 5;
}

#bulk-save {
    margin: 3px 0 6px;
}

/* buttons */

button {
    display: block;
}

.btn {
    font-weight: 400;
    border-radius: 5px;
}
.btn:active {
    outline: none !important;
}

.spn-btn {
    width: 100%;
    position: absolute;
    bottom: 6px;
    text-align: center;
    margin: auto;
}

.progress-container {
    padding: 0px;
}

.progress {
    height: 28px;
    margin: 0;
    overflow: hidden;
    border-radius: 5px;
}

.progress-bar {
    background-color: #9A3B38;
}

.progress-bar.active {
    -webkit-animation: progress-bar-stripes 0.5s linear infinite;
    -o-animation: progress-bar-stripes 0.5s linear infinite;
    animation: progress-bar-stripes 0.5s linear infinite;
}

/* social buttons */

a.btn-social, .btn-social {
    border-radius: 50%;
    color: #ffffff !important;
    display: inline-block;
    height: 54px;
    line-height: 54px;
    margin: 8px 4px;
    text-align: center;
    text-decoration: none;
    transition: background-color .3s;
    -webkit-transition: background-color .3s;
    width: 54px;
    position: relative;
    cursor: pointer;
}

.btn-social .fa, .btn-social i {
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    transition: all .25s;
    -webkit-backface-visibility: hidden;
    -webkit-transform: scale(1);
    -webkit-transition: all .25s;
}
.btn-social:hover, .btn-social:focus {
    color: #fff;
    outline: none;
    text-decoration: none;
}
.btn-social:hover .fa,.btn-social:focus .fa, .btn-social:hover i, .btn-social:focus i {
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
}
.btn-social.btn-sm {
    font-size: 13px;
    height: 36px;
    line-height: 25px;
    margin: 0 2px 4px 2px;
    width: 36px;
}
.btn-social.btn-lg {
    font-size: 22px;
    height: 72px;
    line-height: 4px;
    margin: 10px 6px;
    width: 72px;
}

.btn-facebook {
    background-color: #3b5998;
}
.btn-facebook:hover {
    background-color: #4c70ba;
}

.btn-twitter {
    background-color: #55acee;
}
.btn-twitter:hover {
    background-color: #83c3f3;
}

.btn-linkedin {
    background-color: #1E88E5;
}
.btn-linkedin:hover {
    background-color: #4a8aff;
}

/* button sizes */

.btn-wide {
    width: 170px;
    height: 30px;
}

.btn-medium {
    width: 100%;
    height: 30px;
}

.btn-half {
    width: 82px;
    height: 30px;
}

.btn-short {
    width: 60px;
    height: 30px;
}

/* button colors */

.btn-red, button.selected {
    background-color: #9A3B38 !important;
    border: 1px solid #BF4946 !important;
    color: #eee !important;
}
.btn-red:hover, button.selected:hover {
    background-color: #AA4B48 !important;
    color: #eee !important;
}

.btn-blue {
    background-color: #405971 !important;
    border: 1px solid #668db3 !important;
    color: #eee !important;
}
.btn-blue:hover {
    background-color: #51708E  !important;
}

.btn-purple {
    background-color: #694071 !important;
    border: 1px solid #A766B3 !important;
    color: #eee !important;
}
.btn-purple:hover {
    background-color: #85518E  !important;
}

.btn-unselected {
    background-color: transparent;
    color: #333 !important;
    border: 1px solid transparent;
}
.btn-unselected:hover {
    background-color: #88888822;
    color: #000 !important;
}

.btn-light-gray {
    background-color: #737373;
    color: #eee !important;
    border: 1px solid #A9A9A9;
}
.btn-light-gray:hover {
    background-color: #838383;
}

.btn-dark-gray {
    background-color: #4D4D4D;
    color: #eee !important;
    border: 1px solid #737373;
}
.btn-dark-gray:hover {
    background-color: #5D5D5D;
}

/* other */

#feedback-button {
    font-size: 190%;
}

#logout-button {
    display: none;
    margin-top: -2px;
}

#login-message {
    display: none;
    color: #d4312c;
    font-size: 12px;
}

/* flipping effect */

.flip {
    position: relative;
    perspective: 1000px;
    width: 170px;
    height: 30px;
}

.flip-margin {
    margin-bottom: 10px;
}

.flip-inside {
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    transform-origin: left 15px;
    width: 100%;
    height: 100%;
}

.flip:hover .flip-inside {
    transform: rotateX(180deg);
}

.flip-front, .flip-back {
    position: absolute;
    backface-visibility: hidden;
}

.flip-front {
    transform: rotateX(0deg);
    z-index: 2;
}

.flip-back {
    transform: rotateX(180deg);
}

.related-resources {
    display: none;
}

/* dark mode */

@media (prefers-color-scheme: dark) {

    body {
        background-color: #2C2C2C;
        color: #eee;
    }

    .chk-options:hover {
        background-color: #503838;
    }

    .chk-frame {
        border: 1px solid #744;
        border-top: none;
        background-color: #3c2c2c;
    }

    .btn {
        font-weight: 500;
    }

    .tab-icon {
        color: #bbb;
    }

    #search-input, .login-input {
        background-color: #222;
        border-color: #666;
        color: #ddd;
    }

    #wayback-count-label, #url-not-supported-message, #using-search-url {
       color: #eee;
    }

    #suggestion-box {
        background-color: #2C2C2C;
        color: #eee;
        border: 1px solid #666;
    }

    #suggestion-box div:hover, .focused {
        background-color: #666;
    }

    .btn-unselected {
        color: #aaa !important;
        border: 1px solid transparent;
    }
    .btn-unselected:hover {
        color: #eee !important;
    }
}
