/* default light mode */

body {
    width: 220px;
    background-color: #eee;
    color: #222;
}

.page {
    margin: 10px;
}

.tab-bar {
    padding-top: 2px;
}

.tab-item {
    display: inline-block;
    vertical-align: top;
    width: 22%;
    cursor: pointer;
    opacity: 1.0;
}

.tab-item:hover {
    opacity: 0.7;
}

.tab-item .glyphicon {
    font-size: 25px;
}

.tab-icon {
    color: #444;
}

/* this hack doesn't work in Safari */

.donate-icon-outer {
    width: 28px;
    height: 28px;
    margin: 0 auto;
}

.donate-icon-inner {
    /* overflow: hidden; */
    /* Chrome bug causes glitch with 'transition' and 'overflow'. */
    position: fixed;
    /* Required to fix Chrome bug with 'clip' below. */
    clip: rect(0px 28px 28px -1px);
}

.donate-icon {
    /* trick to tint black icons */
    filter: drop-shadow(28px 0px);
    margin-left: -28px;
    display: block;
    width: 28px;
    height: 28px;
}

/* this should work in all browsers */

.donate-icon-svg {
    position: relative;
    top: 0;
    width: 28px;
    height: 28px;
    margin: 0 auto;
    filter: invert(20%) sepia(5%) saturate(21%) hue-rotate(355deg) brightness(108%) contrast(84%);
    /* Calculate filter colors using this tool: https://codepen.io/sosuke/pen/Pjoqqp */
}

.toolbar-icon {
    width: 16px;
    height: 16px;
}

#search-input, .login-input {
    background-color: #fff;
    border-color: #777;
    color: #222;
}

#wayback-count-msg, #url-not-supported-msg, #using-search-msg {
    font-size: 9pt;
    color: #222;
}

/* general */

.resize-fit-center {
    margin: 0 0 0 0;
    max-width: 100%;
    vertical-align: middle;
}

.logo-wayback-machine {
    position: relative;
    margin-bottom: 10px;
}

.logo-wayback-machine:hover {
    opacity: 0.8;
}

.ia-logo {
    width: 64px;
    height: 64px;
}

#using-search-msg, #save-progress-bar {
    display: none;
}

/* search and login boxes */

#search-input, .login-input {
    display: block;
    position: relative;
    border-radius: 5px;
    z-index: 1;
}

/* suggestions box */

#suggestion-box {
    display: none;
    max-height: 350px;
    width: 100%;
    border-radius: 5px;
    word-break: break-all;
}

#suggestion-box div {
    padding: 3px 10px;
}

#suggestion-box div:hover, .focused {
    background-color: #eee;
    border-radius: 3px;
}

.dropdown-menu {
    padding: 1px;
}

.search-container {
    margin: 5px 2px 10px 2px;
}

.search-container div.bootstrap-typeahead {
    position: relative;
}

.search-submit {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
}

/* checkboxes */

.chk-options {
    padding: 0 5px;
    margin-bottom: 1px;
    flex-grow: 1;
    cursor: pointer;
}

.chk-options:hover {
    background-color: rgba(127, 127, 127, 0.2);
    border-radius: 5px;
}

.chk-options * {
    font-size: 12px;
    font-weight: 400;
    margin: 0;
}

.chk-options input {
    margin: 5px 5px 0 0;
}

.chk-options span {
    vertical-align: middle;
    padding-bottom: 2px;
}

.chk-frame {
    display: flex;
    gap: 2px;
    /* Safari doesn't support gap */
    position: relative;
    width: 100%;
    border-radius: 5px;
    top: -17px;
    padding-top: 18px;
    margin-bottom: -15px;
    border: 1px solid #ddd;
    border-top: none;
    background-color: #ddd;
}

.spn-container {
    /* to cover over the chk-frame */
    z-index: 5;
}

#readbook-container, #tvnews-container, #wiki-container {
    display: none;
}

#spn-front-label {
    width: 100%;
    position: absolute;
    bottom: 6px;
    text-align: center;
    margin: auto;
}

/* social buttons */

a.btn-social, .btn-social {
    border-radius: 50%;
    color: #ffffff !important;
    display: inline-block;
    height: 54px;
    line-height: 54px;
    margin: 8px 4px;
    text-align: center;
    text-decoration: none;
    transition: background-color .3s;
    -webkit-transition: background-color .3s;
    width: 54px;
    position: relative;
    cursor: pointer;
}

.btn-social .fa, .btn-social i {
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    transition: all .25s;
    -webkit-backface-visibility: hidden;
    -webkit-transform: scale(1);
    -webkit-transition: all .25s;
}

.btn-social:hover, .btn-social:focus {
    color: #fff;
    outline: none;
    text-decoration: none;
}

.btn-social:hover .fa, .btn-social:focus .fa, .btn-social:hover i, .btn-social:focus i {
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
}

.btn-social.btn-sm {
    font-size: 13px;
    height: 36px;
    line-height: 25px;
    margin: 0;
    width: 36px;
}

.btn-social.btn-lg {
    font-size: 22px;
    height: 72px;
    line-height: 4px;
    margin: 10px 6px;
    width: 72px;
}

.btn-facebook {
    background-color: #3b5998;
}

.btn-facebook:hover {
    background-color: #4c70ba;
}

.btn-twitter {
    background-color: #55acee;
}

.btn-twitter:hover {
    background-color: #83c3f3;
}

.btn-linkedin {
    background-color: #1E88E5;
}

.btn-linkedin:hover {
    background-color: #4a8aff;
}

.btn-copy {
    background-color: #688099;
}

.btn-copy:hover {
    background-color: #809ebd;
}

.share-block {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* other */

#feedback-tab-btn {
    font-size: 190%;
}

#logout-tab-btn {
    display: none;
    margin-top: -2px;
}

#login-label {
    font-size: 14px;
}

#login-message {
    display: none;
    color: #d4312c;
    font-size: 14px;
}

.login-form {
    margin: 5px 2px 10px 2px;
}

.login-form * {
    margin-top: 8px;
}

/* flipping effect */

.flip {
    position: relative;
    perspective: 1000px;
    height: 30px;
}

.flip-margin {
    margin-bottom: 10px;
}

.flip-inside {
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    transform-origin: left 15px;
    width: 100%;
    height: 100%;
}

.flip:hover .flip-inside {
    transform: rotateX(180deg);
}

.flip-front, .flip-back {
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
}

.flip-front {
    transform: rotateX(0deg);
    z-index: 2;
}

.flip-back {
    transform: rotateX(180deg);
}

/* dark mode */

@media (prefers-color-scheme: dark) {

    body {
        background-color: #2C2C2C;
        color: #eee;
    }

    .chk-options:hover {
        background-color: #503838;
    }

    .chk-frame {
        border: 1px solid #744;
        border-top: none;
        background-color: #3c2c2c;
    }

    .tab-icon {
        color: #bbb;
    }

    .donate-icon-svg {
        /* check above on how to calculate this */
        filter: invert(92%) sepia(0%) saturate(751%) hue-rotate(174deg) brightness(83%) contrast(89%);
    }

    #search-input, .login-input {
        background-color: #222;
        border-color: #666;
        color: #ddd;
    }

    #wayback-count-msg, #url-not-supported-msg, #using-search-msg {
        color: #eee;
    }

    #suggestion-box {
        background-color: #2C2C2C;
        color: #eee;
        border: 1px solid #666;
    }

    #suggestion-box div:hover, .focused {
        background-color: #666;
    }

}
