#resource-list-container {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    display: block;
    padding: 9.5px;
    margin: 1em 0 5vh;
    font-size: 20px;
    line-height: 1.42857143;
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow-y: auto;
    height: 420px;
}

#current-url {
    font-weight: normal;
}

.spn-head {
    display: inline-block;
}

p {
    font-family: Gill Sans Light;
    font-size: 20px;
    padding: 0 5px;
    white-space: normal;
    word-break: break-all;
}

.logo {
    margin: 1.5vh auto;
    text-align: center;
}

.ia-logo {
    height: 64px;
}

.wb-logo {
    height: 90px;
    padding-top: 1em;
}

.container-scrollbar::-webkit-scrollbar {
    background-color: #aaa;
    width: 16px;
    border-radius: 5px;
}
.container-scrollbar::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 5px;
}

#counter-container {
    display: none;
    text-align: right;
}

.live-status {
    text-align: center;
}

.error {
    text-align: center;
    display: none;
}

.error-color {
    color: #733;
}

.highlight-color {
    color: #733;
}

/* dark mode */
@media (prefers-color-scheme: dark) {

    body {
        background-color: #222;
        color: #eee;
    }

    #resource-list-container {
        color: #ddd;
        background-color: #333;
        border: 1px solid #555;
    }

    .error-color {
        color: #d66;
    }

    .highlight-color {
        color: #d88;
    }

    .container-scrollbar::-webkit-scrollbar {
        background-color: #555;
    }
    .container-scrollbar::-webkit-scrollbar-thumb {
        background: #888;
    }
}