
body {
    background-color: #eee;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.loader {
    flex: none;
}

.outer-list-container {
    display: contents;
}

#resource-list-container {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    color: #000;
    display: block;
    padding: 0.5em;
    margin: 1em 0;
    font-size: 20px;
    line-height: 1.5;
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow-y: scroll;
}

#current-url {
    font-weight: normal;
}

.spn-head {
    display: inline-block;
}

p {
    font-family: Gill Sans Light;
    font-size: 20px;
}

#resource-list-container p {
    padding: 0 5px;
    white-space: normal;
    word-break: break-all;
    margin: 0;
}

#resource-list-container p:nth-child(even) {
    color: #666;
}

.logo {
    margin: 1em auto;
    text-align: center;
}

.ia-logo {
    height: 64px;
}

.wb-logo {
    height: 90px;
    padding-top: 1em;
}

.container-scrollbar::-webkit-scrollbar {
    background-color: #aaa;
    width: 16px;
    border-radius: 5px;
}
.container-scrollbar::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 5px;
}

#counter-container {
    display: none;
    text-align: right;
    margin-bottom: 1em;
}

.live-status {
    text-align: center;
}

.error {
    padding-bottom: 1em;
    text-align: center;
    display: none;
}

.error-color {
    color: #733;
}

.highlight-color {
    color: #733;
}

#message {
    display: none;
    margin-top: 1em;
}

/* dark mode */
@media (prefers-color-scheme: dark) {

    body {
        background-color: #2C2C2C;
        color: #eee;
    }

    h2, h3, h4 {
        color: #bbb;
    }

    #resource-list-container {
        color: #ddd;
        background-color: #333;
        border: 1px solid #555;
    }

    #resource-list-container p:nth-child(even) {
        color: #aaa;
    }

    .error-color {
        color: #d66;
    }

    .highlight-color {
        color: #d88;
    }

    .container-scrollbar::-webkit-scrollbar {
        background-color: #555;
    }
    .container-scrollbar::-webkit-scrollbar-thumb {
        background: #888;
    }
}