#resource-list-container {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    display: block;
    padding: 9.5px;
    margin: 1em 0 5vh;
    font-size: 20px;
    line-height: 1.42857143;
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow-y: auto;
    height: 500px;
}

.col-sm-6 {
    margin: auto;
    width: 70vw;
    float: none;
}

p {
    font-family:Gill Sans Light;
    font-size: 20px;
    padding: 0 5px;
    white-space: normal;
    word-break: break-all;
}

.color-code {
    color:#22c399;
}

.container-scrollbar::-webkit-scrollbar {
    background-color: #aaa;
    width: 20px;
    height: 20px;
    border-radius: 5px;
}
.container-scrollbar::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 5px;
}

.text-right {
    display: none;
    text-align: right;
}

.live-status {
    text-align: center;
}

h2 {
    font-size: 30px;
}

.error {
    text-align: center;
}

/* dark mode */
@media (prefers-color-scheme: dark) {

    body {
        background-color: #222;
        color: #eee;
    }

    #resource-list-container {
        color: #ddd;
        background-color: #333;
        border: 1px solid #555;
    }

    .text-right, h2 {
        color: #d66;
    }
    
    .container-scrollbar::-webkit-scrollbar {
        background-color: #555;
    }
    .container-scrollbar::-webkit-scrollbar-thumb {
        background: #888;
    }
}