
/* default light mode */

#setting-page {
    overflow: hidden;
}

#setting-page label {
    font-weight: 500;
    font-size: 12px;
}

#view-text {
    font-size: 12px;
    font-weight: 500;
}

.setting-text-box {
    display: inline-block;
    width: calc(100% - 50px);
}

.setting-switch {
    width: 100%;
    min-height: 36px;
    border-radius: 5px;
    border: 1px solid #888;
    margin: 5px auto 5px auto;
    padding: 8px 5px 8px 5px;
    text-align: left;
    cursor: pointer;
}
.setting-switch:hover {
    background-color: #ccc;
}

.btn-docs {
    background-color: #888;
    color: #fff;
}


/* dark mode */

@media (prefers-color-scheme: dark) {

    #setting-page label {
        font-weight: 500;
    }

    #view-text {
        font-weight: 500;
    }

    .setting-switch {
        border: 1px solid #666;
    }
    .setting-switch:hover {
        background-color: #444;
    }

    .btn-docs {
        background-color: #888;
        color: #000;
    }

}

/* navgation bar */

ul.setting-nav {
    list-style-type: none;
    margin: 0 0 5px 0;
    overflow: hidden;
}

ul.setting-nav li {
    float: left;
    width: 50%;
}

.unselectable > * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* options */

#view-setting {
    text-align: center !important;
}

.setting-switch input[type=checkbox] {
    margin: 3px 7px 0 3px;
    float: left;
}

.radiobtn {
    margin-right: 8px;
}

label[for=tagcloud] {
    margin-bottom: 5px;
}

#back-btn {
    margin-top: 10px;
}

/* tooltips */

.btn-docs {
    float: right;
    width: 16px;
    height: 16px;
    border: 1px solid #888;
    border-radius: 50%;
    font-size: 10px;
    padding: 0;
}

.tooltip-inner p {
    margin: 5px;
}

.setting-tip {
    width: 100px;
}
