
.btn-archive img {
  border-radius: 5px;
  max-height:25px;
  max-width:25px;

}

.text-elements {
  color: white;
  max-width: 100%;
}

.cover-img {
  align-self: center;
  border: 1px solid black;
  border-radius: 3px;
  display:block;
  height:168px;
  margin:10px auto;
  width: 120px;
}

.popup-title {
  color:#eee;
  text-align: center;
}
/*
.tooltip.in {
  opacity: 1;
}
*/

.bottom-details {
  background-color: #eee;
  width: 100%;
  padding: 1px 5px 1px 5px;
  margin-bottom: 3px;
  border-radius: 3px;
}

/* CSS Tooltip */

.wm1996-tooltip {
  position: relative;
}

.wm1996-tooltip:before {
/* .wm1996-tooltip-text */
  content: attr(data-text);
  position: absolute;
  z-index: 999;

  /* vertically center */
  top: 50%;
  transform: translateY(-50%);

  /* move to right */
  left: 100%;
  margin-left: 15px;

  /* basic styles */
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  background: #000;
  color: #fff;
  text-align: center;

  display: none;
  /* opacity: 0; */
  transition: 0.3s opacity;
  /* transition-delay: 100ms; */
}

.wm1996-tooltip:hover:before {
  display: block;
}

.wm1996-tooltip.left:before {
  left: initial;
  margin: initial;
  right: 100%;
  margin-right: 15px;
}


/* tooltip arrows */
.wm1996-tooltip:after {
/* .wm1996-tooltip-text:before */
  content: "";
  position: absolute;
  left: 100%;
  margin-left: -5px;

  /* vertically center */
  top: 50%;
  transform: translateY(-50%);

  /* the arrow */
  border: 10px solid #000;
  border-color: transparent black transparent transparent;

  display: none;
  /* visibility: hidden; */
/*
  opacity: 0;
  transition: 0.3s opacity;
*/
}

/* NOT TESTED */
.wm1996-tooltip.left:after {
  left: initial;
  margin: initial;
  right: 100%;
  margin-right: -5px;
  border-color: transparent transparent transparent black;
}

.wm1996-tooltip:hover:before, .wm1996-tooltip:hover:after {
/* .wm1996-tooltip-text:hover:before, .wm1996-tooltip-text:hover */
  display: block;
  /* visibility: visible; */
  /* opacity: 1; */
}
